/* -----GLOBAL STYLES----- */

body {
    width: 100vw;
    font-family: Arial, sans-serif;
}

/* -----HEADER----- */

/* NAV-BAR */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
}

.nav__left {
    padding-left: 2rem;
}

.nav__right {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    /* border: solid 1px black; */
}

.nav__link {
    color: #3f3f3f;
    text-decoration: none;
    padding-right: 1rem;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-color: #3f3f3f;
}

.nav__app-menu {
    height: auto;
    width: 1.5rem;
    padding-right: 1rem;
}

.button--nav {
    color: white;
    background-color: #4584ef;
    border-radius: 2px;
    border-style: none;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding: 0.4rem 0.75rem;
    font-size: 0.8rem;
}

.button--nav:hover {
    box-shadow: 0 3px 2px -3px rgb(122, 122, 122);
}




/* -----MAIN----- */

main {
    /* margin: 0 auto; */
    /* width: 100%; */
    text-align: center;
}

/* IMAGE */

/* FORM */

/* -----FOOTER----- */

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #f2f2f2;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
}

.footer__top {
    height: 2.5rem;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.footer__left {
    padding-left: 2rem;
}

.footer__right {
    padding-right: 0.5rem;
}

.footer__link {
    color: #5f6368;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 0.85rem;
}

.footer__link:hover {
    text-decoration: underline;
    text-decoration-color: #5f6368;
}

.footer__label {
    color: #717171;
    padding: 0.75rem 0 0.75rem 2rem;
    line-height: 1rem;
    font-size: 0.95rem;
    height: 1rem;
}

/* Search bar colour #DFE1E5 */
/* Search icon #9AA0A6 */
/* Search button hover text #222222 */
/* Sware icon header right #727272 */

/* Search bar border EFF0F2 */