/* -----GLOBAL STYLES----- */

body {
    width: 100vw;
    font-family: Arial, sans-serif;
}

/* -----HEADER----- */

/* NAV-BAR */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    height: 3rem;
}

.nav__left {
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
}

.nav__right {
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
}

.nav__link {
    color: #3f3f3f;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-color: #3f3f3f;
}




/* -----MAIN----- */

main {
    /* margin: 0 auto; */
    /* width: 100%; */
    text-align: center;
}

/* IMAGE */

/* FORM */

/* -----FOOTER----- */

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #f2f2f2;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
}

.footer__top {
    height: 2.5rem;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.footer__left {
    padding-left: 2rem;
}

.footer__right {
    padding-right: 0.5rem;
}

.footer__link {
    color: #5f6368;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 0.85rem;
}

.footer__link:hover {
    text-decoration: underline;
    text-decoration-color: #5f6368;
}

.footer__label {
    color: #717171;
    padding: 0.75rem 0 0.75rem 2rem;
    line-height: 1rem;
    font-size: 0.95rem;
    height: 1rem;
}

/* Search bar colour #DFE1E5 */
/* Search icon #9AA0A6 */
/* Search button hover text #222222 */
/* Sware icon header right #727272 */
/* Sign in button #4584ef */
/* Search bar border EFF0F2 */